<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gambling for Idiots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/src/style/home.css" />

</head>

<body class=home-body>
    {% extends "layout.html" %}
    {% block content %}
    <h1 class="home-header">Welcome to version one of the gambling site</h1>
    
    <label for="inputNumber" class="home-label-receptions">Input the minimum number of receptions to represent in the graph:</label>
    <input type="number" name="inputNumber" id="inputNumber" min="1" class="home-input-receptions" value="10">
    <button onclick="attempt_change(document.getElementById('inputNumber').value)" class="home-button-receptions">Submit</button>

    <label for="yearDropdown" class="home-label-year-dropdown">Determine which year of data to visualize:</label>
    <select onChange="year_change(this.value)" class="home-input-year-dropdown" id="inputYear">
        <option value="2009">2009</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
      </select>

    <div id="eChartsReceptions" style="width:100vw; height:370px;" class="home-echart-receptions"></div>

    <div style="position:fixed; top: 0; right: 0; bottom: 0; left: 0; background:rgba(0,0,0,0.5); display:none" id="loader">loading</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js"></script>
    <script src="../static/src/js/index.js"></script>
    {% endblock %}
</body>

</html>