<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gambling for Idiots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/src/style/home.css" />

</head>

<body class=home-body>
    {% extends "layout.html" %}
    {% block content %}
    <h1 class="home-header">Welcome to version one of the gambling site</h1>
    
    <label for="inputNumber" class="home-label-receptions">Input the minimum number of receptions to represent in the graph:</label>
    <input type="number" name="inputNumber" id="inputNumber" min="1" class="home-input-receptions">
    <button onclick="get_nfl_reception_data(document.getElementById('inputNumber').value)" class="home-button-receptions">Submit</button>

    <div id="eChartsReceptions" style="width:1200px; height:400px;" class="home-echart-receptions"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js"></script>
    <script src="../static/src/js/index.js"></script>
    {% endblock %}
</body>

</html>