.home-header {
  font-size: 1em;
  font-family: "Open Sans";
  font-size: 20px;
  text-align: center;
}

.home-label-receptions {
  display: block;
  font-family: "Open Sans";
  margin: 0;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}
  
.home-input-receptions {
  font-family: "Open Sans";
  display: block;
  margin: auto;
  font-size: 10px;
}

.home-button-receptions {
  font-family: "Open Sans";
  display: block;
  margin: auto;
  font-size: 10px;
}
  
.home-echart-receptions {
  display: block;
  margin: 20px 0px 0px 0px;
}

.home-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f5f5f5;
}